@font-face {
    font-family: Deluxe-paint ;
    src: url("dpcomic.ttf");
}

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    background: #edeceb;
    display: flex;
    flex-direction: column
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: black;
    flex-shrink: 0;
    
    
}

.nav-top {
    margin: 0;
    padding: 0;
    border: 0;
    height: 60px;
    

}

.nav-container {
    background-color: #f7f6f5;
    border-bottom: 1px solid #d7d5d1;
}

.nav-container .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    
}

.nav-menu ul {
    display: flex;
    justify-content: start;
    margin: 0;
    font-size: 18px;
    color: black;
    list-style: none;
    width: 100%;
}

.nav-menu ul li {
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}

.nav-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    border: 0;
    
}
.nav-menu ul li a img:hover { 
    max-height: 56px;
}

.nav-menu ul li a img {
    max-height: 40px;
    margin: auto;
}

.nav-dropdown {

}

.container {
    max-height: 60px;
    max-width: 1270px;
    display: flex;
    margin: 0 auto;
    position: static;
    overflow: visible;
}

.logo {
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    display: flex;
    width: auto;
    flex: 1 1 auto;
    height: 52px;
    align-items: center;
    vertical-align: baseline;
}
.logo img {
    height: 52px;
}